.header-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: #4877f8; 
    padding: 20px;
    color: white;
}

.search-container {
    margin-bottom: 20px;
    padding: 20px;
}

.search-history-container {
    padding: 20px;
}
.search-history-container .btn{
    background-color: lightgrey;
    color: black;
}

.forecast-container {
    background-color: #f9f9f9; 
}

.weather-info span {
    display: block;
    margin-bottom: 10px;
  }