.header-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f2f2f2; 
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
    background-color: #e6f2ff; 
    padding: 20px;
}

.search-history-container {
    background-color: rgb(255, 227, 227); 
    padding: 20px;
}

.forecast-container {
    background-color: #f9f9f9; 
}

.weather-info span {
    display: block;
    margin-bottom: 10px;
  }